<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page_3</title>
   
</head>
<body>
    <center><h1>You are not allowed to vote</h1>
    <h4 style="color:red";>Because</h4>
    <h3>1)You don't have a Valid Voter_ID</h3>
    <h3>2)More than 1 person present while Voting</h3>
    <h3>3)Voter not authenticated</h3></center>


    
    
</body>
</html>